@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
  }
  
  .topbar {
    background-color: #faa;
  }
  
  .topbar-inner {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .login-form {
    display: flex;
  }
  
  .submit-button {
    margin-left: 10px;
    align-self: flex-end;
  }
  
  .input-container + .input-container {
    margin-left: 10px;
  }
  
  .input-container label {
    display: block;
  }


  .user {
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: coral;
    transition: 0.5s;
  }

  * {
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
  }
  
  #menu-h{
      background-color: rgb(87, 87, 219);
  }
  
  #menu-h ul {
      /* max-width: 800px; */
      list-style: none;
      padding: 0;
  }
  
  #menu-h ul li {
      display: inline;
      align-items: flex-start;
  }
  
  #menu-h ul li button {
      color: #FFF;
      padding: 20px;
      display: inline-block;
      text-decoration: none;
      transition: background .4s;
  }
  
  #menu-h ul li a:hover {
      background-color: rgb(24, 139, 233);
  }


  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }

  .btn:hover {
    background-color: rgb(24, 139, 233);
  }


  dialog {
    position: absolute;
    left: 0px;
    right: 0px;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    color: -internal-light-dark-color(black, white);
    margin: auto;
    border-width: initial;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 1em;
    background: -internal-light-dark-color(white, black);
    width: 50%;
    max-width: 750px;
  }

  dialog::backdrop {
    background: rgba(0,0,0,.85);
  }

  table {
    width: 98%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
  }

  th {
    text-align: left;
    height: 40px;
  }

  tr:hover {background-color: yellow;}